<div class="projects">
    <div class="projects-main">
        <p class="box-title">Porfolio</p>
        <p class="box-headline">Featured Projects</p>
        <p class="main-text">Explore a selection of my work here - Interact with <br> 
                            projects to see my skills in action</p> 
        

        <div class="project-table">
            <div class="project-row">
                <div class="project-separator"></div>
                <div class="project-content">
                <span class="project-name">El Pollo Loco</span>
                <span class="project-technologies">
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                </span>
                </div>
            </div>
            
            <div class="project-row">
                <div class="project-separator"></div>
                <div class="project-content">
                <span class="project-name">Da Bubble</span>
                <span class="project-technologies">
                    <span>Angular</span>
                    <span>Firebase</span>
                    <span>TypeScript</span>
                </span>
                </div>
            </div>

            <div class="project-row">
                <div class="project-separator"></div>
                <div class="project-content">
                <span class="project-name">weitere Projekte</span>
                <span class="project-technologies">
                    <span>XXX</span>
                    <span>XXX</span>
                    <span>XXX</span>
                </span>
                </div>
            </div>
            
            
            <div class="project-row">
                <div class="project-separator"></div>
            </div>
            </div>

    </div> 


</div>

