$break-point-layout: 900px;

footer {
  width: 100%;
  height: 150px;
  background-color: var(--main-grey);
  @media (max-width: $break-point-layout) {
    height: 200px;
  }
}

.main-footer{
    max-width: 1440px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 var(--padding-main-lr);
    p {
        font-size: var(--font-size-small);
        color: var(--main-violet);
    }
    @media (max-width: $break-point-layout) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100px 100px;
        gap: 1rem;
        justify-content: space-between;
        padding: 0.8rem var(--padding-main-lr-mobile);
        .logo {
            grid-column: 1;
            grid-row: 1;
        }
        .footer-links {
            grid-column: 2;
            grid-row: 1;
        }
        p {
            grid-column: 1 / -1;
            grid-row: 2;
            text-align: center;
            margin-block-start: 0;
        }   
    } 
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: var(--font-size-smallest);
    a {
        color: var(--white);
        text-decoration: none;
        position: relative;
        transition: all var(--transition) ease;
        &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: var(--main-violet);
            border-radius: 50%;
            opacity: 0;
            left: -16px;
            top: 50%;
            transform: translateY(-50%);
            transition: opacity var(--transition) ease, transform var(--transition) ease;
        }
        
        &:hover {
            color: var(--main-violet);
            &::before {
                opacity: 1;
            }
        }
    }

}
