<footer>
    <div class="main-footer">

    <a [routerLink]="getHomeRoute()" [title]="translate('main.startpage')">
    <svg xmlns="http://www.w3.org/2000/svg" 
        viewBox="0 0 205 170"
        width="25" 
        height="170">
        <text fill="var(--main-violet)"
            font-family="Constantia, serif" 
            font-weight="400" 
            font-size="100" 
            x="10" 
            y="120">
            {{ '{' }}
        </text>
        <text fill="var(--white)"
            font-family="ISOCP3_IV50, monospace" 
            font-weight="400" 
            font-size="80" 
            x="55" 
            y="105">
            D
        </text>
        <text fill="var(--white)" 
            font-family="ISOCP3_IV50, monospace" 
            font-weight="400" 
            font-size="80" 
            x="85" 
            y="125">
            D
        </text>
        <text fill="var(--main-violet)" 
            font-family="Constantia, serif" 
            font-weight="400" 
            font-size="100" 
            x="135" 
            y="120">
            {{ '}' }}
        </text>
        <text fill="var(--white)"
            font-family="Constantia, serif" 
            font-weight="400" 
            font-size="60" 
            x="170" 
            y="80">
            *
        </text>
    </svg>
    </a>

    <p>© Dominique Dockal 2025</p>

    <div class="footer-links">
        <a href="#" title="GitHub">GitHub</a>
        <a href="#" title="LinkedIn">LinkedIn</a>
        <a href="#" [title]="translate('footer.email')">{{ translate('footer.email') }}</a>
        <a [routerLink]="getLegalNoticeRoute()" [title]="translate('footer.legalNotice')">{{ translate('footer.legalNotice') }}</a>
    </div>

    </div>
</footer>





<!--     <svg xmlns="http://www.w3.org/2000/svg" 
     viewBox="0 0 520 300"
     width="520" 
     height="300">
    <text fill="#CF3DB6" 
          font-family="Consolas, monospace" 
          font-weight="400" 
          font-size="120" 
          x="10" 
          y="200">
        {{ '{' }}
    </text>
    <text fill="#CF3DB6" 
          font-family="Consolas, monospace" 
          font-weight="400" 
          font-size="120" 
          x="110" 
          y="200">
        {{ '}' }}
    </text>
    <text fill="#FFFFFF" 
          font-family="OCR A Extended, monospace" 
          font-weight="700" 
          font-size="60" 
          x="210" 
          y="150">
        DOMINIQUE
    </text>
    <text fill="#FFFFFF" 
          font-family="OCR A Extended, monospace" 
          font-weight="700" 
          font-size="60" 
          x="250" 
          y="220">
        DOCKAL
    </text>
    </svg> -->