header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: var(--gradient-header);
}

.main-header,
.main-header-mobile {
    max-width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 var(--padding-main-lr);  
}

.main-header-mobile {
    display: none;
}

@media (max-width: 700px) {
    .main-header {
        display: none;
    }

    .main-header-mobile {
        display: flex; 
    }
}

.button-switch {
    display: flex;
    border: 2px solid var(--main-violet);
    border-radius: 25px; 
    position: relative;
    overflow: hidden;
    width: fit-content;
    button {
        background-color: transparent; 
        color: var(--main-violet); 
        border: none;
        padding: 0.5rem 1.2rem;
        cursor: pointer;
        transition: all var(--transition) ease;
        font-weight: 500;
        width:20px; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:focus {
            outline: none;
        }
        
        &.active {
            background-color: var(--main-violet);
            color: var(--white);
            font-weight: bold;
            border-radius: 20px;
            width: 50px;
        }
    }
}

.burger-menu {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    
    .burger-line {
        width: 100%;
        height: 3px;
        background-color: var(--main-violet);
        transition: all var(--transition) ease;
    }
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 240px;
    height: 250px;
    z-index: 1000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    background: var(--gradient-main);
    border: 2px solid var(--main-violet);
    transition: right var(--transition) ease;
}

.navbar a,
.sidebar a {
    color: var(--white);
    text-decoration: none;
    position: relative;
    transition: all var(--transition) ease;

    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: var(--main-violet);
        border-radius: 50%;
        opacity: 0;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity var(--transition) ease, transform var(--transition) ease;
    }
    
    &:hover {
        color: var(--main-violet);
        &::before {
            opacity: 1;
        }
    }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition) ease, visibility var(--transition) ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}






