<header>
    <div class="main-header">
        <div class="navbar">
            <div class="button-switch">
                <button (click)="switchToGerman()" [class.active]="currentLanguage === 'de'">DE</button>
                <button (click)="switchToEnglish()" [class.active]="currentLanguage === 'en'">EN</button>
            </div>
            <a href="#" [title]="translate('nav.about')">{{ translate('nav.about') }}</a>
            <a href="#" [title]="translate('nav.expertise')">{{ translate('nav.expertise') }}</a>
            <a href="#" [title]="translate('nav.projects')">{{ translate('nav.projects') }}</a>
        </div>

        <a class="logo" [routerLink]="getHomeRoute()" [title]="translate('main.startpage')">
            <svg xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 205 170"
                width="205" 
                height="170">
                <text fill="var(--main-violet)"
                    font-family="Constantia, serif" 
                    font-weight="400" 
                    font-size="100" 
                    x="10" 
                    y="120">
                    {{ '{' }}
                </text>
                <text fill="var(--white)"
                    font-family="ISOCP3_IV50, monospace" 
                    font-weight="400" 
                    font-size="80" 
                    x="55" 
                    y="105">
                    D
                </text>
                <text fill="var(--white)" 
                    font-family="ISOCP3_IV50, monospace" 
                    font-weight="400" 
                    font-size="80" 
                    x="85" 
                    y="125">
                    D
                </text>
                <text fill="var(--main-violet)" 
                    font-family="Constantia, serif" 
                    font-weight="400" 
                    font-size="100" 
                    x="135" 
                    y="120">
                    {{ '}' }}
                </text>
                <text fill="var(--white)"
                    font-family="Constantia, serif" 
                    font-weight="400" 
                    font-size="60" 
                    x="170" 
                    y="80">
                    *
                </text>
            </svg>
        </a>
    </div>

    <div class="main-header-mobile">
        <a  class="logo" [routerLink]="getHomeRoute()" [title]="translate('main.startpage')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 205 170"width="205" height="170">
                <text fill="var(--main-violet)"font-family="Constantia, serif" font-weight="400" font-size="100" x="10" y="120">
                    {{ '{' }}
                </text>
                <text fill="var(--white)"font-family="ISOCP3_IV50, monospace" font-weight="400" font-size="80" x="55" y="105">
                    D
                </text>
                <text fill="var(--white)" font-family="ISOCP3_IV50, monospace" font-weight="400" font-size="80" x="85" y="125">
                    D
                </text>
                <text fill="var(--main-violet)" font-family="Constantia, serif" font-weight="400" font-size="100" x="135" y="120">
                    {{ '}' }}
                </text>
                <text fill="var(--white)"font-family="Constantia, serif" font-weight="400" font-size="60" x="170" y="80">
                    *
                </text>
            </svg>
        </a>

        <div class="burger-menu" (click)="toggleBurgerMenu()">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </div>
    </div>
</header>

<div class="sidebar-overlay" [class.active]="isSidebarOpen" (click)="closeSidebar()">
<div class="sidebar" [class.active]="isSidebarOpen" (click)="onSidebarClick($event)">
    <a href="#" [title]="translate('nav.about')">{{ translate('nav.about') }}</a>
    <a href="#" [title]="translate('nav.expertise')">{{ translate('nav.expertise') }}</a>
    <a href="#" [title]="translate('nav.projects')">{{ translate('nav.projects') }}</a>
    <div class="button-switch">
        <button (click)="switchToGerman()" [class.active]="currentLanguage === 'de'">DE</button>
        <button (click)="switchToEnglish()" [class.active]="currentLanguage === 'en'">EN</button>
    </div>
</div>
</div>











