$break-point-layout: 900px;

.privacy-policy {
  width: 100%;
  height: 100vh;
  background: var(--gradient-main);
}

.privacy-policy-main{
    max-width: 1440px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 var(--padding-main-lr);
     @media (max-width: $break-point-layout) {
        padding: 0 var(--padding-main-lr-mobile);
     }
}