<div class="skills">
    <div class="skills-main">

        <div class="text-section">
            <p class="box-title">{{translate('skills.box-title')}}</p>

            <div class="text-box">
                <p class="box-headline">{{translate('skills.box-headline')}}</p>
                <p class="main-text">{{translate('skills.main-text')}}</p> 
                <p class="another-skill">{{translate('skills.another-skill')}} <span class="highlight">{{translate('skills.highlight')}}</span></p>
                <p class="sub-text">{{translate('skills.sub-text')}}</p> 
                <p class="button"  [title]="translate('skills.button')"><span>{{translate('skills.button')}}</span></p>
            </div>
        </div>

        <div class="skill-section">

            
        </div>


    </div>
</div>
