<div class="skills">
    <div class="skills-main">

        <div class="text-section">
            <p class="box-title">Technologies</p>

            <div class="text-box">
                <p class="box-headline">Skill Set</p>
                <p class="main-text">Skill Set
                    A short introduction of your skills. Highlight your experience 
                    of  using different front-end technologies and emphasise your openness to learning and adapting to new technologies. 
                    Show how important it is for you to keep up with the rapid changes in web development.
                </p> 
                <p class="another-skill">You need <span class="highlight">another skill?</span></p>
                <p class="sub-text">Feel free to contact me. I look forward to expanding on my previous knowledge.</p> 
                <p class="button"  (click)="onButtonClick($event)"><span>Lets talk</span></p>
            </div>
        </div>



    </div>
</div>
