$break-point-layout: 900px;
$break-point-font: 950px;

.skills{
  width: 100%;
  min-height: 700px; /* anpassen an text später*/
  background: var(--main-grey);
  padding-top: var(--padding-section-top);
}

.skills-main{
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--padding-main-lr); 
    display: grid;
    grid-template-columns: 4fr 5fr; 
    gap: 2rem; 
    @media (max-width: $break-point-layout) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    height: auto; 
    padding: 0 var(--padding-main-lr-mobile);
    } 
}

.text-section {
   display: flex;
   flex-direction: column;
}

.box-title {
    margin-bottom: var(--margin-box-title);
    font-size: var(--font-size-large);
    color: var(--main-violet);
    font-family: var(--font-family-secondary);
    @media (max-width: $break-point-font) {
        font-size: var(--font-size-small);
    }
}

.box-headline {
    color: var(--main-violet);
    font-size: var(--font-size-largest);
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 0;
    @media (max-width: $break-point-font) {
        font-size: var(--font-size-title);
    }
}

.main-text {
    color: var(--white);
    font-size: var(--font-size-small);
    text-align: justify;
    font-family: var(--font-family-secondary);
    @media (max-width: $break-point-font) {
        font-size: var(--font-size-smallest);
    }
}

.another-skill {
    font-size: var(--font-size-large);
    font-weight: bold;
    color: var(--white);
    padding-top: 1.5rem;
    @media (max-width: $break-point-font) {
        font-size: var(--font-size-medium);
    }
}

.highlight {
    color: var(--main-violet);
}

.sub-text{
    font-size: var(--font-size-smallest);
    color: var(--white);
    font-family: var(--font-family-secondary);
}

.text-box {
    background: var(--box-background);
    border-radius: var(--main-box-radius);
    border: 2px solid var(--main-violet);
    > *:not(.button){
        padding-left: var(--text-box-inner-padding);
        padding-right: var(--text-box-inner-padding);
    }
    > *:first-child {
        padding-top: var(--text-box-inner-padding);
    }
}

.skill-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: 100%;
    @media (max-width: $break-point-layout) {
        grid-template-columns: repeat(3, 1fr); 
    }
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        align-self: end; 
        p {
            font-size: var(--font-size-small);
            color: var(--white);
        }
        @media (max-width: $break-point-font) {
        font-size: var(--font-size-smallest);
        }
    }  
}

.button {
    margin-left: var(--text-box-inner-padding);
    margin-bottom: var(--text-box-inner-padding);
    margin-top: var(--text-box-inner-padding); 
}




