<div class="hero">
    <div class="hero-main">
       <div class="info">
        <p class="title">Frontend Developer</p>
        <p class="name">Dominique Dockal</p>
        <div class="button-section">
            <p class="button" [title]="translate('hero.my-work')"><span>{{translate('hero.my-work')}}</span></p>
            <p class="button" [title]="translate('hero.contact')"><span>{{translate('hero.contact')}}</span></p>
        </div>
       </div>
    </div>
<div class="strip">
        <div class="strip-text">{{translate('hero.banner')}}</div>
</div>
</div>


