$break-point-layout: 900px;

.legal-notice {
  width: 100%;
  background: var(--gradient-main);
  overflow-y:auto;
  min-height: calc(100vh - 250px); 
}

.legal-notice-main{
    max-width: 1440px;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 var(--padding-main-lr);
    color: var(--white);
    padding-top: 4rem;
    padding-bottom: 4rem;
     @media (max-width: $break-point-layout) {
        padding: 0 var(--padding-main-lr-mobile);
     }
}

h1 {
  color: var(--main-violet);
}



