:root {
  --main-grey: #1C1C1C;
  --main-violet: #CF3DB6;
  --main-violet-dark: #5A1E4A;
  --box-background:#342030;
  --white: white;
  --overlay: rgba(0, 0, 0, 0.5);
  --gradient-main: linear-gradient(50deg, var(--main-grey) 36.26%, var(--main-violet-dark) 93.28%);
  --gradient-header:linear-gradient(162deg, var(--main-grey) 36.26%, var(--main-violet-dark) 93.28%);
  --font-family-primary: 'Fira_Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-family-secondary: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-size-smallest: 1em;      /* 16px  */
  --font-size-small: 1.125em;     /* 18px  */
  --font-size-medium: 1.25em;     /* 20px  */
  --font-size-large: 1.5em;       /* 24px */
  --font-size-larger: 3.5em;       /* 56px */
  --font-size-largest: 4em;       /* 64px */
  --font-size-name: 6em;         /* 96px */
  --font-size-name-resp1:3.5em;       /* 56px */
  --font-size-name-resp2: 3em;       /* 48px */
  --font-size-title: 2.5em; /* entspricht 40px */
  --font-size-banner: 2em ;   /*32px */
  --transition: 0.1s;
  --animation: 2s;
  --padding-main-lr: 2rem;
  --padding-main-lr-mobile: 1rem;
  --padding-section-top: 100px;
  --main-box-radius: 30px;
  --text-box-inner-padding: 2rem;
  --margin-box-title: 1rem;
   
}

@font-face {
  font-family: 'Fira_Code';
  src: url('/assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('/assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: var(--font-family-primary);
}

.logo {
    display: inline-block;
    cursor: pointer;
    transition: transform var(--transition) ease;
    svg {
        width: 100px;
        height: 80px;
        display: block;
        &:hover {
            text:nth-child(1), 
            text:nth-child(4) {
                fill: var(--white);
            }
            text:nth-child(2), 
            text:nth-child(3), 
            text:nth-child(5) {
                fill: var(--main-violet);
            }
        }
    }
}

.button {
    font-size: var(--font-size-small);
    color: var(--white);
    border-radius: 100px;
    border: 1px solid var(--white);
    background: transparent;
    text-align: center;
    display: inline-block; 
    padding: 12px 16px;
    cursor: pointer; 
    margin-block-start: 0; 
    margin-block-end: 0; 
    overflow: hidden;
    position: relative;

    &:hover {
        border-color: var(--main-violet);
        color: var(--main-violet);
        span {
            animation: continuousTextSlide var(--animation) linear infinite;
        }
    }

    span {
        display: inline-block; 
        font-size: inherit; 
        line-height: inherit;
    }
}

@keyframes continuousTextSlide {
    0% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(-100%); 
    }
    50.01% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}







